Repository edualgo/eduAlgo, pull requests merged in 2020-11, with the labels that each got.

#41 issue #40 Added Heap Sort Algorithm in Sort.py
  edualgo/algorithms/sort.py
Labels: Intermediate, enhancement

#60 Added Dijkstra Algorithm
  edualgo/graph_algorithms/Dijkstra_algorithms.py
Labels: Graph, Intermediate, enhancement

#62 n_queens.py added under backtracking_algorithms issure #56
  README.md
  edualgo/backtracking_algorithms/n_queen.py
Labels: Backtracking, Intermediate, enhancement
